<%= form_for(@boardthread, url: { action: yield(:action) }) do |form| %>
  <% if boardthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boardthread.errors.count, "error") %> prohibited this boardthread from being saved:</h2>

      <ul>
      <% boardthread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :boardthread_title %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Boardthread.statuses.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :threadtype %>
    <%= form.select :threadtype, Boardthread.threadtypes.keys.to_a %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
