<p id="notice"><%= notice %></p>

<h1>Boardthreads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @boardthreads.each do |boardthread| %>
      <tr>
        <td><%= link_to boardthread.title, boardthread %></td>
        <td><%= link_to 'Edit', edit_boardthread_path(boardthread) %></td>
        <td><%= link_to 'Destroy', boardthread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boardthread', new_boardthread_path %>s
