<p id="notice"><%= notice %></p>

<div class="container-fluid">
	
	<p><strong>Board: </strong><%= @boardthread.boardname %></p>
	<h3><%= @boardthread.title %></h3>
	<% @boardthread.locked? ? badge="badge badge-dark" : badge="badge badge-light" %>
	<p><%= @boardthread.post_count %> post/s, 
	<span class="<%="#{badge}"%>"><%= @boardthread.status.capitalize %></span>
		<% if current_user.moderator? || current_user.administrator? %>
			<% if @boardthread.unlocked? %>
				<%= link_to "(Lock Thread?)", manage_thread_path(@boardthread) %>
			<% else %>
				<%= link_to '(Unlock)', manage_thread_path(@boardthread) %>
			<% end %>
		<% end %>
		<br>
	</p>

	<br>
	<br>
	<hr>
	<% posts = @boardthread.sort_posts.paginate(page: params[:page], per_page: 20) %>
	<% posts.each do |post| %>
	  <tr>
	  	<div class="thread-container">
	  		<div class="poster-details">
	  			<div class="board">
			  		<% user = post.post_user(post.user_id) %>
				    <%= image_tag user.avatar.thumb.url unless user.avatar.blank? %>
						<td><%= link_to user.name, user_path(user.id) %></td>&nbsp;
						<div class="tooltip">
				    	About me: <%= user.about %><br>
				    	Posts: <%= user.post_count %>
				    </div>
					</div>
			  </div>
				<div class="poster-date">
					<td><%= post.created_at.strftime("%b %d, %Y  %I:%M:%S %P") %></td>
				</div>
			  <div class="poster-message">
		    	<td><%= markdown(post.message) %></td>
				</div>
			</div>
	  </tr>
	 	<hr>
	<% end %>
	<%= will_paginate posts %><br>

	<% if @boardthread.unlocked? %>
		<%= render partial: '/posts/post_form', post: @post, boardthread: @boardthread %>
	<% end %>
	<br><br>
</div>


<%= link_to 'Edit Thread', edit_boardthread_path(@boardthread), class:"btn btn-primary" %>
<%= link_to 'Destroy Thread', @boardthread, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<%= link_to 'Back', board_path(@boardthread.board_id) %>
<br><br>