<p id="notice"><%= notice %></p>
<div class="container">
  <% @topics.each do |topic| %>
    <div class="row">
      <h1><%= link_to topic.name, topic %></h1>  
    </div>
    <div class="row">
      <% boards = topic.boards %>
      <% boards.each do |board| %>
        <div class="col-md-2">
          <div class="board">
            <td><%= image_tag board.photo.thumb.url unless board.photo.blank? %></td>
            <h5><%= link_to board.name, board %></h5>
            <div class="tooltip">
              <b>Description: </b><%= board.description %><br>
              <b>Threads: </b><%= board.thread_count %><br>
              <b>Posts: </b><%= board.postcount %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<br>
<br>
<%= link_to 'New Topic', new_topic_path %>
