<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>
  <div class="container">
    <ul class="sortable">
      <% boards = @topic.boards %>
      <% boards.each do |board| %>
          <li id="<%= board.sortable_id %>" class="ui-state-default">
            <%= image_tag board.photo.thumb.url unless board.photo.blank? %><br>
            <%= link_to board.name, board %>
          </li>
        <% end %>
    </ul>
  </div>

<br><br>
<% if current_user.administrator? %>
  <%= link_to 'Add New Board', new_topic_board_path(@topic, @board) %> |
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>
<%= link_to 'Back', topics_path %>
