<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Topic: <%= @topic.name %></h2><br>

  
    <% boards = @topic.boards %>
    <div class="row">
      <ul id="sortable">
        <% boards.each do |board| %>
          <div class="col-md-2 col-md-2-board">
            <div class="board">
              <li>
                <td><%= image_tag board.photo.thumb.url unless board.photo.blank? %></td>
                <h5><%= link_to board.name, board %></h5>

                <div class="tooltip">
                  <%= board.description %><br>
                  <b>Threads: </b><%= board.thread_count %><br>
                  <b>Posts: </b><%= board.postcount %>
                </div>
              </li>

            </div>
          </div>
        <% end %>
      </ul>
    </div>
  
  <br><br>
  <% if current_user.administrator? %>
    <%= link_to 'Add New Board', new_topic_board_path(@topic, @board), class: "btn btn-success" %>
    <%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-info" %>
  <% end %>
  <%= link_to 'Back', topics_path, class: "btn btn-dark" %>

</div>


