<%= form_with(model: @user, local: true, html: { multipart: true }) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="user-container">
      <div class="user-edit-info">
        <div class="form-group col-md-8">
          <%= form.label :avatar %><br>
          <%= form.file_field :avatar, class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :name %>
          <%= form.text_field :name, class:"form-control" %>
        </div>
        <br>
        <div class="form-group col-md-8">
          <%= form.label :about %>
          <%= form.text_area :about, class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :birthdate %>
          <%= form.date_field :birthdate, class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :hometown %>
          <%= form.text_field :hometown, class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :present_location %>
          <%= form.text_field :present_location, class:"form-control" %>
        </div>
      </div>

      <div class="user-edit-optional">
        <h5 class="col-md-8">Optional Details:</h5>
        <div class="form-group col-md-8">
          <%= form.label :gender %><br>
          <%= form.select :gender, User.genders.keys.to_a, class:"custom-select" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :skype %>
          <%= form.text_field :skype, class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :website %>
          <%= form.text_field :website, placeholder: "https://", class:"form-control" %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :interests %>
          <%= form.text_area :interests, class:"form-control" %>
        </div>

        <div class="submit-field col-md-8">
          <%= form.submit "Update User", class: "btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', :back %>
<br><br>