<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @user.hometown %>
</p>

<p>
  <strong>Present location:</strong>
  <%= @user.present_location %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Posts:</strong><br>
  <% @user.posts.each do |post| %>
    <% @boardthread = Boardthread.find(post.boardthread_id) %>
    <%= link_to @boardthread.title, boardthread_path(@boardthread.id) %> <%= post.message %><br>
  <% end %>
</p>


<% if current_user.moderator? || current_user.administrator? %>
  <% if @user.normal? %>
    <%= link_to "Ban User", manage_user_path(@user) %>
  <% else %>
    <%= link_to 'Unban User', manage_user_path(@user) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
