<%= form_for(@board, url: { action: yield(:action) }) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :photo %><br>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :board_name %>
  </div>

  <% if action = "edit" %>
      <%= form.label :topic %>
      <%= form.collection_select :topic_id, Topic.order(:name),:id,:name, include_blank: "Please select a Topic" %>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :board_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
