
<%= form_for(@board, url: { action: yield(:action) }) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <%= form.label :photo %>
        <%= form.file_field :photo, class:"form-control-file" %>
      </div>

      <div class="form-group col-md-2">
        <%= form.label :name %>
        <%= form.text_field :name, id: :board_name, class:"form-control" %>
      </div>

      <% if action_name == "edit" %>
      <% action = "Update Board" %>
          <%= form.label :topic %>
          <%= form.collection_select :topic_id, Topic.order(:name),:id,:name, include_blank: "Please select a Topic", class:"form-control" %>
      <% end %>

      <div class="form-group col-md-4">
        <%= form.label :description %>
        <%= form.text_field :description, id: :board_description, class:"form-control" %>
      </div>

      <% if action_name == "new" %>
        <% action = "Create Board" %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "#{action}", class: "btn btn-primary" %>
    </div>
    
    <div>
      <%= link_to 'Back', :back %>
    </div>
  </div>
<% end %>
