<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @board.name %>
  <br>
  <strong>Description:</strong>
  <%= @board.description %>
  <br>
  <strong>Threads: </strong><%= @board.thread_count%>, 
  <strong>Posts: </strong>
</p>
    
    <% boardthreads = @board.sortthreads(0) %>  <!--sort sticky threads -->
    <% boardthreads.each do |bthread| %> 
      <tr>
        <td>📍 <%= link_to bthread.title, bthread %></td>
      </tr>
      <br>
    <% end %>
    
    <br>
    <% boardthreads = @board.sortthreads(1) %>  <!--sort nonsticky threads -->
    <% boardthreads = boardthreads.paginate(page: params[:page], per_page: 20) %>
    <% boardthreads.each do |bthread| %>
      <% if bthread.nonsticky? %>
        <tr>
          <td><%= link_to bthread.title, bthread %></td>
        </tr>
        <br>
      <% end %>
    <% end %>
    <%= will_paginate boardthreads %><br>

<br>
<br>
<%= link_to 'New Thread', new_board_boardthread_path(@board.id, @boardthread) %> |
<%= link_to 'Edit', edit_board_path %> |
<%= link_to 'Back', topic_boards_path(@board.topic_id) %> |
<%= link_to 'Destroy', @board, method: :delete, data: { confirm: 'Are you sure?' } %>