<!DOCTYPE html>
<html>
  <head>
	<title>Bulletin Board</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-inverse">
		<div class="nav navbar-nav">
			<div class="navbar-details">
				<h2><%= link_to 'Bulletin Board System', topics_path, class: 'navbar-brand' %></h2>
			</div>
		</div>
		<div class="nav navbar-nav navbar-right">
			<% if signed_in? %>
				<div class="user-nav">
					<div class="user-nav-row">
						<div class="user-nav-cell">
				        	<%= image_tag current_user.avatar.profile.url unless current_user.avatar.blank? %>
				        </div>
						  <div class="user-nav-cell">
						  	Hello, <%= current_user.name %>!<br>
						  	<%= link_to 'Profile', user_path(current_user) %><br>
						  	<%= link_to 'Log out', sign_out_path, method: :delete %>
						  </div>
					</div>
				</div>
			<% else %>
			  <a href="<%= sign_in_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a>
			  <a href="<%= sign_up_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
			<% end %>
		</div>

	</nav>

	<div class="container-fluid">
	  <% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>">
		  <%= value %>
		</div>
	  <% end %>
	  <%= yield %>
	</div>

	
  </body>

</html>

