<!DOCTYPE html>
<html>
  <head>
	<title>BulletinBoard</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
			<div class="navbar-header">
			  <%= link_to 'Bulletin Board System', root_path, class: 'navbar-brand' %>
			</div>
			<ul class="nav navbar-nav">
				<% if signed_in? %>
					<% unless !current_user.administrator? %>
					  <li><a href="#">Home</a></li>
					  <li><%= link_to 'Users', users_path %></li>
					  <li><%= link_to 'Boards', users_path %></li>
				  <% end %>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				  <li class="nav-item"><%= link_to "Signed in as #{current_user.name}", '#' %></li>
				  <li class="nav-item"><%= link_to 'View Profile', user_path(current_user) %></li>
				  <li class="nav-item"><%= link_to 'Log out', sign_out_path, method: :delete %></li>
				<% else %>
				  <li><a href="<%= sign_in_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				  <li><a href="<%= sign_up_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<% end %>
			</ul>
	  </div>
	</nav>

	<div class="container-fluid">
	  <% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>">
		  <%= value %>
		</div>
	  <% end %>
	  <%= yield %>
	</div>
  </body>

</html>

